<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>changeProfile</title>
</head>
<div>
    <div th:insert="copyright/copyright::header"></div>
</div>
<body>


<div th:insert="copyright/copyright::errors"></div>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Change Password
</button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
<form th:method="PATCH" th:object="${user}"  th:action="@{/user/{name}(name=${user.getName()})}">
    <div th:insert="copyright/copyright::password"></div>
    <button type="submit" class=" btn btn-primary mb-2">Save Changes</button>
</form>
    </div>
</div>

</body>
<div>
    <div th:insert="copyright/copyright::bootstrap_script"></div>
</div>
</html>