<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<meta charset="UTF-8">
<div>
    <div th:insert="copyright/copyright::header"></div>
</div>
    <head>
        <title>LinkLink</title>
        <nav  class="navbar navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand">LinkLink</a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li sec:authorize="authenticated" class="nav-item active">
                        <a class="navbar-brand" th:text="${#authentication.getName()}" th:href="@{/user/{name}(name=${#authentication.getName()})}">name</a>
                    </li>
                    <li sec:authorize="!authenticated" class="nav-item active">
                        <a class="nav-link" href="/login">login <span class="sr-only">(current)</span></a>
                    </li>
                    <li   sec:authorize="!authenticated"  class="nav-item">
                        <a class="nav-link" href="/registration">registration</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')" class="nav-item li-block" >
                        <style>
                            .li-block{margin-right: 10px;}
                        </style>
                        <form class="form-inline" action="/admin" method="get">
                            <input class="btn btn-primary"  type="submit" value="Admin menu">
                        </form>
                    </li>
                    <li  sec:authorize="authenticated"  class="nav-item" >
                        <form class="form-inline" action="/logout" method="post">
                            <input class="btn btn-primary"  type="submit" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>



    </head>
<body>


<form th:method="POST" th:object="${link}">
        <input type="text" class="form-input" id="longLink"  th:field="*{longLink}"  placeholder="put your link" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <input class="btn btn-primary" type="submit" value="get short link">
        </div>
        </form>
<style>
    .form-input{
        width: 100%;
        height: 40px;
        border: none;
        border-bottom:1px solid #0d0a0a;
        outline: none;
        font-family: inherit;
        color:#0d0a0a ;
        background: transparent;
    }
</style>

<div th:object="${link}" th:if="${!link.isEmpty()}">
    <a class="nav-link">take your short link</a>
    <div class="alert alert-primary" role="alert" th:text="${link.getShortLink()}">
       link
    </div>
</div>


</body>


<div th:insert="copyright/copyright::bootstrap_script"></div>
</div>



</html>