<!DOCTYPE html>
<html  lang="en">

<meta charset="UTF-8">
<div>
    <div th:insert="copyright/copyright::header"></div>
</div>


<title>Login</title>
<head >
    <h1 class="login">Login</h1>
</head>
<body>


<form method="POST" action="/login">
        <input class="form-control mb-2 mr-sm-2" name="username" type="text" placeholder="Place for your name"
                   autofocus="true"/>
    <input class="form-control mb-2 mr-sm-2" name="password" type="password" placeholder="Place for Your password"/>
    <button type="submit" class=" btn btn-primary mb-2">Log In</button>
            <h4><a  class="registration" href="/registration">Зарегистрироваться</a></h4>

    </form>


</body>
<div>
    <div th:insert="copyright/copyright::bootstrap_script"></div>
</div>



</html>