<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"  >
    <div th:insert="copyright/copyright::header"></div>
</head>
 <title>registration</title>
</head>

<body>

<form th:method="POST" th:object="${user}" th:action="@{/registration}">
    <div class="container">
        <div th:insert="copyright/copyright::password"></div>
        <div th:insert="copyright/copyright::errors"></div>
                        <input class="btn btn-primary" type="submit" value="register">


    </div>


    <div>
        <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
        </form>


<div th:insert="copyright/copyright::bootstrap_script"> </div>


</body>
</html>