<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <div>
        <div th:insert="copyright/copyright::header"></div>
    </div>
    <title>UserInfo</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <h1  class="user_name" th:text="${user.getName()}">name</h1>
        <style>
            .user_name{
                margin-right: 10px;
            }
        </style>
        <form th:action="@{/user/{name}/change(name=${user.getName()})}"  th:method="GET">
            <input class="btn btn-primary" type="submit" value="change profile">
        </form>
    </nav>

</head>
<body >


<div class="list-group" th:each="link:${list}" >
    <a th:href="${link.getLongLink()}" th:text="${link.getLongLink()}"  thclass="list-group-item list-group-item-action active">
       link
    </a>
    <div class="alert alert-primary" role="alert" th:text="${link.getShortLink()}">
  link
    </div>
</div>

</body>
<div>
    <div th:insert="copyright/copyright::bootstrap_script"></div>
</div>
</html>